@using Microsoft.AspNetCore.Identity
@using s3827202_s3687609_a2.Areas.Identity.Data

@inject SignInManager<BankDbUser> SignInManager
@inject UserManager<BankDbUser> UserManager

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Customer"))
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Banking" asp-controller="Customer" asp-action="Index">My Accounts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Banking" asp-controller="Atm" asp-action="AtmTransaction">Atm Transaction</a>
    </li>
}
